@import "../utils";
.container {
  @media screen and(max-width: 400px) {
    grid-template-rows: minmax(70vh, auto) 190px;
  }
}
.navbar {
  @media screen and (max-width: 400px) {
    .extra-bar {
      .suggested-container {
        .text {
          p {
            @include text-break;
          }
        }
      }
    }
  }
}
.dropdown {
  @media screen and (max-width: 570px) {
    .read-more {
      display: none;
    }
  }
  @media screen and (max-width: 550px) {
    .mid-text p:last-child {
      display: none;
    }
  }
  @media screen and (max-width: 300px) {
    .mid-text {
      display: none;
    }
    .top-text {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.anime-container {
  grid-template-rows: 40px minmax(100vh, auto) 34px;
  @media screen and (max-width: 350px) {
    .btn-con {
      // display: none;
      overflow-x: scroll;
    }
  }
}

.anime-result {
  @media screen and (max-width: 500px) {
    justify-content: flex-start;
    grid-template-columns: repeat(3, auto);
  }
  @media screen and (max-width: 350px) {
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: 286px;
    .anime-card {
      grid-template-rows: 75% 25%;
    }
  }
  @media screen and (max-width: 320px) {
    grid-template-columns: 1fr;
    grid-auto-rows: 300px;

    .anime-card {
      width: 150px;
    }
  }
}
footer {
  @media screen and (max-width: 400px) {
    height: 17rem;
    .top {
      justify-content: space-evenly;
      padding: 0;
    }
  }
}
